<div id="login-box" class="list" ng-hide="$root.logged_in == true">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="username">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="password" ng-enter="login()">
  </label>
  <button class="item button button-stable" ng-click="login()">
    Login
  </button>
  <button class="item button button-stable">
    Reset Password
  </button>
</div>

<div id="login-box" class="list" ng-show="$root.logged_in == true">
  <div class='list'>
    <div class="item item-divider">
    Signed-in as: {{$root.user_basic.full_name}}
    </div>
    <div class="item" ui-sref="main.checkouts">
      Checkouts: {{$root.user_basic.checkouts}}
    </div>
     <div class="item" ui-sref="main.holds">
      Holds: {{$root.user_basic.holds}}
    </div>
     <div class="item" ng-hide="$root.user_basic.holds_ready == 0">
      Holds Ready: {{$root.user_basic.holds_ready}}
    </div>
     <div class="item" ng-hide="$root.user_basic.fine == '$0.00'">
      Fines: {{$root.user_basic.fine}}
    </div>
  </div>
  <button class="button button-stable" ng-click="logout()">
  Sign Out
  </button>
</div>



