<div class="list">
 	<h1 class="item item-divider">Hours and Locations</h1>
 </div>	
<div class="card" ng-repeat="location in locations">
	<div class="item">
      <h2>{{location.fullname}}</h2>
      <img ng-src="http://www.tadl.org/sites/default/files/libraryphotos/{{location.shortname}}-200x125.jpg" class="location_image"><br>
      <span>{{location.address}}</span><br>
      <span>{{location.citystatezip}}</span><br>
      <span>Phone: {{location.phone}}</span><br>
      <span>Email: {{location.email}}</span>
    </div>
    <div class="item">
    	<span class="detail_key">Sunday: </span>
    	<span class="detail_value">{{location.sunday}} </span>
    	<br>
    	<span class="detail_key">Monday: </span>
    	<span class="detail_value">{{location.monday}} </span>
    	<br>
      <span class="detail_key">Tuesday: </span>
      <span class="detail_value">{{location.tuesday}} </span>
      <br>
      <span class="detail_key">Wednesday: </span>
      <span class="detail_value">{{location.wednesday}} </span>
      <br>
      <span class="detail_key">Thursday: </span>
      <span class="detail_value">{{location.thursday}} </span>
      <br>
      <span class="detail_key">Friday: </span>
      <span class="detail_value">{{location.friday}} </span>
      <br>
      <span class="detail_key">Saturday: </span>
      <span class="detail_value">{{location.saturday}} </span>
    </div>
</div>
