
  <div class="list">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="query" placeholder="Search" ng-enter="search()">
      </label>
      <button class="button button-clear icon ion-gear-a" ng-click="toggle_advanced()"></button>
    </div>
    <div id="search_options" ng-show="advance_search == true">
      <label class="item item-input item-select">
        <div class="input-label">
          Location
        </div>
        <select>
          <option>All</option>
          <option>Woodmere</option>
          <option>Kingsley</option>
          <option>Interlochen</option>
          <option>Peninsula</option>
          <option>East Bay</option>
          <option>Fife Lake</option>
        </select> 
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Search Type
        </div>
        <select>
          <option>Keyword</option>
          <option>Title</option>
          <option>Author / Group</option>
          <option>Subject</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Media Type
        </div>
        <select>
          <option>All</option>
          <option>Books</option>
          <option>Movies</option>
          <option>Music</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Sort By
        </div>
        <select>
          <option>Relevance</option>
          <option>Newest to Oldest</option>
          <option>Oldest to Newest</option>
          <option>A to Z</option>
          <option>Z to A</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Only Show Available Items
        </div>
        <select>
          <option>Off</option>
          <option>On</option>
        </select>
      </label>
    

  </div>




    <div class="card" ng-repeat="result in results">
    <div class="item item-avatar">
      <img ng-src="{{result.format_icon}}">
      <h2>{{result.title}}</h2>
      <p>{{result.author}}</p>
    </div>
    <div class="item" style="min-height: 150px;">
      <img class="cover_search_results" ng-src="{{result.image}}">
      <h2>Abstract</h2>
      This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look.
      <div ng-hide="!!!result.availability.length">
        <h2> Availability </h2>
        <div class="item-text-wrap" ng-repeat="scope in result.availability">
          {{scope}} <br>
        </div>
      </div>
    </div>
    <div class="item">
      <button class="button button-positive" ng-click="item_details('{{result.record_id}}')">
        More Info
      </button>
       <button id="hold_{{result.record_id}}" class="button button-positive" ng-click="place_hold('{{result.record_id}}')">
        Place Hold
      </button>
    </div>
  </div>

      <ion-infinite-scroll ng-if="more_results == 'true'" on-infinite="search('true')" distance="20%"></ion-infinite-scroll>
      





