  <div class="list">
    <div class="item item-input-inset">
   
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="query" placeholder="Search" ng-enter="search()">
      </label>




    </div>
  </div>
         
  <div class="card" ng-repeat="result in results">
    <div class="item item-avatar">
      <img ng-src="{{result.format_icon}}">
      <h2>{{result.title}}</h2>
      <p>{{result.author}}</p>
    </div>
    <div class="item" style="min-height: 150px;">
      <img class="cover_search_results" ng-src="{{result.image}}">
      <h2>Abstract</h2>
      This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look. This is a test to see how this will look.
      <div ng-hide="!!!result.availability.length">
        <h2 ng-click="item_details('{{result.record_id}}')"> Availability </h2>
        <div class="item-text-wrap" ng-repeat="scope in result.availability">
          {{scope}} <br>
        </div>
      </div>
    </div>
  </div>
  <div class="card" ng-show="more_results == 'true'">
    <button class="button button-block button-positive" ng-click="search('true')">
      Load More
    </button>
  </div>

