/* Empty. Add your own CSS if you like */


.cover_search_results{
	max-height: 200px;
	height: 100%;
	width: auto;
	float: left;
	margin: 10px;
}

.big_loading {
  font-size: 30px;
  vertical-align: center;
}